body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.error-container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    color: #333;
}

p {
    color: #777;
}

.back-to-home {
    margin-top: 20px;
}

.error-container {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid ##217dbb;
    border-radius: 5px;
    background-color: ##217dbb;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #217dbb;
}