body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  margin: 0;
}
.container{
  min-width: 100vw;
  height: calc(100vh - 72px);
  margin-top: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  
}
.login-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 500px;
  animation: fallInFromAbove 2s forwards;

  
}

.login-container h1 {
  margin: 0 0 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin: 10px 0;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button,.register {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
    background-color: #217dbb;
}
.register:hover {
  background-color: #217dbb;
  color: white;
  text-decoration: none;
  border: 0;
}

@keyframes fallInFromAbove {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}