.container {
  width: 100vw;
  display: flex;
  gap: 10px;
  height: calc(100vh - 222px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 72px;
}
* {
  font-family: 'Rubik', sans-serif;
}
.option{
  width: 100vw;
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* width: 30%;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.form {
  width: 30%;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  
}
.station{
  padding: 10px;
  min-width: 20%;
  border-radius: 3px;
  background-color: #b0b0b0;
  margin-top: 20px;
}
.station-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #363636;
  width: 40%;
  /* animation: fallInFromAbove 2s forwards;  */
  transition:transform 0.3s ease-in-out 0s;
}
i {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  
}
.station-box {
  background-color: #0040ff;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.station-box:hover {
  text-decoration: underline;
}
.cost{
  padding: 10px;
  width: 20%;
  border-radius: 3px;
  background-color: #b0b0b0;
  margin-top: 20px;
}
body {
    background-color: #bdb7b7;
    max-height: 100vh;
    overflow: hidden;
    /* background-image: url("underground.png"); */
 }
.terminal-station {
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.terminal-station:hover {
  text-decoration: underline;
}
.terminal-station i {
  color: black;
}
footer {
  width: 100vw;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  display: flex;
  animation: slideInFromBottom 3s forwards;
}
.section {
  height: 100%;
  width: calc(100vw / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: 1px solid #363636;
  
  
  
  
}
.section:nth-child(1) {
  border-left: 0;
}
.section h1 {
  color: #33ff33;
  font-size: 38px;
}
.section h3 {
  color: #363636;
  font-size: 18px;
}
.station-row:hover{
  transform: translateX(-15px);

}


@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fallInFromAbove {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
