{% extends 'base.html'%}
{% block content %}
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Enter starting point</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Enter Destination</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="input">
  </div>
  <button type="button" class="btn btn-light">submit </button> 
</form>
{% endblock %}
<!-- {{form.submit()}} -->